

.span.transitions-enabled.large-centered.clearfix
  #container
    .box
      .container{style: "width:800px; height:500px; background-image: url(/assets/maingrayscale.jpeg);"}
        %header.positionleftbottom
          %h1 George Somerville
          %p Web Developer - Designer - Something else 
    .box
      %img{src: "http://www.placehold.it/400x200"}/
      
    .box
      .flip
        .textcontainerflip{style: "width:400px; height: 200px"}
          .flip-front.flipfront400-200
            %h3 Programming Languages/Software 
              
              
          .flip-back.flipback400-200  
            %p Ruby on Rails - Javascript - HTML5 - CSS3 - Git - GitHub - Terminal - Sublime
    .box
      %img{src: "http://www.placehold.it/400x200"}/
    

    .box
      .flip
        .textcontainerflip{style: "width:400px; height: 130px"}
          .flip-front.flipfront200-130
            %h6 A Young enthusiastic junior/webdeveloper looking to expand his front end skill set and test his creativity
              
              
          .flip-back.flipback400-200  
            %h6 Contact details
            %p phone: phone number 
            %p email: something
    .box       
      .infocontainer{style: "width:200px; height: 130px;"}
        %a{href: "#"}
          %img{src: "https://s3-eu-west-1.amazonaws.com/niraj-portfolio/mark.png"}      

    .box
      .infocontainer{style: "width:200px; height: 130px;"}
        %a{href: "#"}
          %p linked in picutre
.section.project3container{style: "background-image: url(/assets/portfolio.jpeg.png);"}
  %h1 Portfolio    
  %p Music App - Wifiinder - Budgie Backpackers
.large-10.columns{style: "padding: 0px"}     




          

       
      
  